:host {

  button {
    width: 340px;
    height: 60px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
  }

}
