<div class="login">
  <div class="header"></div>
  <div class="content">
    <div class="inputs">
      <app-input [placeholder]="'Usuário'"></app-input>
      <app-input [placeholder]="'Senha'"></app-input>
      <a>Esqueci minha senha</a>
    </div>
    <div class="button">
      <app-button [color]="'#c61d35'" [contentBold]="'ENTRAR'" routerLink="/search" ></app-button>
    </div>
  </div>
  <div class="footer">
    <a>
      Ainda não tem cadastro? <b>Criar conta</b>
    </a>
  </div>
</div>
