:host {
  input {
    width: 290px;
    height: 60px;
    padding: 0 25px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
  }

  input::placeholder {
    font-size: 16px;
    color: #b0b0b0;
  }

}
