<div class="search">
  <div class="header">
    <img src="assets/images/cars-background.png" alt="" />
    <div class="header__content">
      <div class="header__image">
        <img src="assets/images/user-img.png" alt="" />
      </div>
      <h3>Olá, Marcos Silva</h3>
    </div>
  </div>
  <div class="body">
    <div class="body__buttons">
      <div class="body__buttons__search">
        <img src="assets/images/search-icon.png" /> Buscar carro
      </div>
      <div class="body__buttons__filter" (click)="openFilters()">
        <img src="assets/images/filter-icon.png" /> Filtrar
      </div>
    </div>
    <h3>Últimas reservas</h3>
    <div>
      <app-cars-carousel [cars]="cars"></app-cars-carousel>
    </div>
    <app-button
      [color]="'#1b2c39'"
      [content]="'Acessar por '"
      [contentBold]="'QR code'"
    ></app-button>
  </div>
  <div class="footer">
    <app-bottom-menu></app-bottom-menu>
  </div>
</div>

<app-filter (filters)="aplicarFiltro($event)" (changeDisplay)="hideFilters($event)" [display]="filterDisplay"></app-filter>
